<div id="batman" style="float: left; width: 50%; height: 100vh">
	<%= link_to "Página de Batman", pages_batman_path, style:"color:white;font-size:32px" %>

	<%= form_tag pages_vote_path, method: :post do %>
		<%= hidden_field_tag(:heroe, "Batman") %>
		<%= label_tag(:email, "Email:") %>
		<%= text_field_tag :email, nil, placeholder: 'Ingresa tu email...' %>
		<br>
		<%= submit_tag "Votar" %>
	<% end %>
	<h2 style="color: white">Votos: <%= @total_batman %></h2>
</div>
<div id="superman" style="float: right; width: 50%; height: 100vh">
	<%= link_to "Página de Superman", pages_superman_path, style:"color:white;font-size:32px" %>

	<%= form_tag pages_vote_path, method: :post do %>
		<%= hidden_field_tag(:heroe, "Superman") %>
		<%= label_tag(:email, "Email:") %>
		<%= text_field_tag :email, nil, placeholder: 'Ingresa tu email...' %>
		<br>
		<%= submit_tag "Votar" %>
	<% end %>
	<h2 style="color: white">Votos: <%= @total_superman %></h2>
</div>

<script>
	$("#batman").backstretch("<%= asset_path 'batman-background.jpg' %>");
	$("#superman").backstretch("<%= asset_path 'superman-background.png' %>");
</script>